<a href="https://colab.research.google.com/github/suhasms369/AI_Lab_1BM23CS346/blob/main/1BM23CS346_Lab_1_DataPreProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd


df = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [11]:
print("info of all columns")
df.info()

info of all columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [7]:
print("statistical info of all numarical")
df.describe()

statistical info of all numarical

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [13]:
print("unique lables for ocean_proximity")
print(df["population"].value_counts())

unique lables for ocean_proximity
population
870.0     7
753.0     6
697.0     6
881.0     6
1211.0    6
         ..
2153.0    1
2227.0    1
1780.0    1
299.0     1
1186.0    1
Name: count, Length: 1802, dtype: int64

In [14]:
print("attributes in a dataset have missing values count greater than 0")
print(df.isnull().sum()[df.isnull().sum()>0])

attributes in a dataset have missing values count greater than 0
Series([], dtype: int64)